.infoBox__container {
}

.infobox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px 10px;
  margin: 0px 20px;
}

.infobox__img {
  padding: 10px;
  border-radius: 10px;
  margin-right: 5px;
}

.infobox__detail > p {
  color: gray;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

.infobox__detail > h2 {
  color: #454545;
  font-size: 22px;
}
