.infobox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px 10px;
  margin: 20px 20px;
  border-radius: 10px;
  position: relative;
}

.infobox__img {
  border-radius: 10px;
  margin-right: 5px;
}

.infobox__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.infobox__detail > p {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

.infobox__detail > h2 {
  color: #454545;
  font-size: 18px;
}
