/*@import url("styles/variables.css");*/

.app__container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

.app__main {
  width: 100%;
  flex: 0.9;
}

.app__infobox {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 990px) {
  .app__container {
    flex-direction: column;
  }
} ;
